.Head {
    text-align: center;
  }
.image{
   
    width: 100%;
    height: 400px;
    background-image: url('./images/cobweb.jpg');
    background-size: cover;
    border: 1px solid red;

}
